In [10]:
import pandas as pd

In [11]:
l = [1,2,3,4]
var1 = pd.DataFrame(l)
print(var1)

   0
0  1
1  2
2  3
3  4

In [12]:
z= [1,2,3,4]
var2 = pd.Series(z)
print(z)
y=[5,6,7,8]
var3 = pd.Series(y)
var4 = {"hello":z,"code":y}

[1, 2, 3, 4]

In [13]:
print(var4)

{'hello': [1, 2, 3, 4], 'code': [5, 6, 7, 8]}

In [14]:
var5 = pd.DataFrame(var4)

In [15]:
print(var5)

   hello  code
0      1     5
1      2     6
2      3     7
3      4     8

In [17]:
var6 ={"a":[1,2,3,4],"b":[5,6,7,8],"c":[9,10,11,12]}
var7 = pd.DataFrame(var6)
print(var7)

   a  b   c
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12

In [18]:
print(var7["a"][1])

2