In [28]:
import pandas as pd

In [7]:
df=pd.read_csv(r'C:\Users\vishal\Tem Insurance.csv')

In [8]:
df

   Age  premium
0   25    18000
1   30    32000
2   35    40000
3   40    47000
4   45    55000

In [9]:
x=df['Age']

In [10]:
x

0    25
1    30
2    35
3    40
4    45
Name: Age, dtype: int64

In [11]:
y=df['premium']

In [12]:
y

0    18000
1    32000
2    40000
3    47000
4    55000
Name: premium, dtype: int64

In [13]:
from sklearn.model_selection import train_test_split

In [21]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

In [22]:
x_train

0    25
3    40
1    30
Name: Age, dtype: int64

In [23]:
x_test

2    35
4    45
Name: Age, dtype: int64

In [24]:
y_train

0    18000
3    47000
1    32000
Name: premium, dtype: int64

In [25]:
y_test

2    40000
4    55000
Name: premium, dtype: int64

In [26]:
len(x_train)

3

In [27]:
len(x_test)

2